.moduleToolbar { font-size:12px; font-family:"Microsoft YaHei"; overflow:hidden; position:absolute; z-index:9099; background:#56a1e3 }
.moduleToolbar-right { border-radius:0 4px 4px 0 }
.moduleToolbar-left { border-radius:4px 0 0 4px }
.moduleToolbar .f-toolItem { position:relative; border-bottom:1px solid #6cade7 }
.moduleToolbar .f-toolItem:last-child { border-bottom:0 }
.moduleToolbar .f-icon { display:block; width:20px; height:20px; position:absolute; top:50%; left:3px; margin-top:-10px; background-image:url(/assets/img/moduleToolbar.png); background-repeat:no-repeat }
.moduleToolbar .f-title { display:block; position:relative; font-size:12px; font-family:"Microsoft YaHei"; color:#fff; padding:11px 10px 11px 26px }
.moduleToolbar .f-title:hover { cursor:pointer; background:#4295de }
.moduleToolbar .f-icon { background-position:3px 3px }
.moduleToolbar .f-onlyIcon { display:none }
.moduleToolbar .f-toolItembannerAndBorder .f-icon { background-position:2px -27px }
.moduleToolbar .f-toolItemclose .f-icon { background-position:5px -57px }
.moduleToolbar .f-toolItemclearTB .f-icon { background-position:2px -91px }
.moduleToolbar .f-toolItemresetTB .f-icon { background-position:2px -117px }
.moduleToolbar .f-toolItemadd .f-icon { background-position:3px -286px }
.moduleToolbar .f-toolItemedit .f-icon { background-position:3px -254px }
.moduleToolbar .f-toolItemanimation .f-icon { background-position:2px -432px }
.moduleToolbar-multiModule { background:#7e807f }
.moduleToolbar-multiModule .f-toolItem { border-bottom:1px solid #8f9090 }
.moduleToolbar-multiModule .f-title:hover { background:#737373 }
.moduleToolbar-multiModule .f-toolItemtabStyle .f-icon { background-position:2px -27px }
.moduleToolbar-multiModule .f-toolItemmulColStyle .f-icon { background-position:2px -27px }
.moduleToolbar-multiModule .f-toolItembannerAndBorder .f-icon { background-position:3px -143px }
.moduleToolbar-fullmeasure { background:#7e807f; overflow:hidden }
.moduleToolbar-fullmeasure .f-toolItem { height:31px; line-height:31px; float:left; border:0; border-right:1px solid #8f9090 }
.moduleToolbar-fullmeasure .f-toolItem:last-child { border-right:0 }
.moduleToolbar-fullmeasure .f-title { display:block; height:100%; padding:0 6px 0 6px }
.moduleToolbar-fullmeasure .f-title:hover { background:0 }
.moduleToolbar-fullmeasure .f-toolItemmoduleLayerIconCarousel { padding:0; width:26px; background:url(/assets/img/mbg01.png) no-repeat -365px -3px }
.moduleToolbar-fullmeasure .f-toolItemmoduleLayerIconStop { padding:0; width:26px; background:url(/assets/img/mbg01.png) no-repeat -392px -3px }
.moduleToolbar-fullmeasure .f-toolItemmoduleLayerIconHide { padding:0; width:26px; background:url(/assets/img/bg02.png) no-repeat -940px -210px }
.moduleToolbar-fullmeasure .f-toolItemmoduleLayerIconTop { padding:0; width:26px; background:url(/assets/img/bg02.png) no-repeat -212px -323px }
.moduleToolbar-fullmeasure .f-toolItemmoduleLayerIconBottom { padding:0; width:26px; background:url(/assets/img/bg02.png) no-repeat -85px -65px }
.moduleToolbar-top .f-toolItem, .moduleToolbar-bottom .f-toolItem { border-bottom:0; border-right:1px solid #6cade7; float:left }
.moduleToolbar-multiModule.moduleToolbar-top .f-toolItem, .moduleToolbar-multiModule.moduleToolbar-bottom .f-toolItem { border-color:#8f9090 }
.moduleToolbar-top .f-toolItem:last-child, .moduleToolbar-bottom .f-toolItem:last-child { border-right:0 }
.moduleToolbar-top .f-title, .moduleToolbar-bottom .f-title { padding:11px 11px 12px 15px }
.moduleToolbar-top .f-title .f-text, .moduleToolbar-bottom .f-title .f-text { display:none }
.moduleToolbar-top .f-onlyIcon, .moduleToolbar-bottom .f-onlyIcon { display:block }
#context-menu-layer { z-index:9030!important }
.moduleContextMenu { min-width:120px; position:absolute; z-index:9031!important; font-family:"Microsoft YaHei"; font-size:12px; list-style-type:none; border:1px solid #f1f1f1; border-radius:3px; background:#fff; padding:4px 0; margin:0; -webkit-box-shadow:1px 1px 6px rgba(0, 0, 0, 0.27); -moz-box-shadow:1px 1px 6px rgba(0, 0, 0, 0.27); -o-box-shadow:1px 1px 6px rgba(0, 0, 0, 0.27); box-shadow:1px 1px 6px rgba(0, 0, 0, 0.27) }
.moduleContextMenu .context-menu-item { position:relative; padding:3px 20px; color:#000; text-align:center; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none }
.moduleContextMenu .f-tip { width:12px; height:12px; position:absolute; top:50%; left:10px; margin-top:-5px; background:0 }
.moduleContextMenu .context-menu-separator { padding:0; margin:4px 0; border-bottom:1px solid #f1f1f1 }
.moduleContextMenu .context-menu-item:hover { color:#fff; cursor:pointer; background-color:#2980b9 }
.moduleContextMenu .f-icon-tickGlobal .f-tip, .moduleContextMenu .f-icon-tickIndependent .f-tip { background:url(/assets/img/moduleToolbar.png) no-repeat 0 -234px }
.moduleContextMenu .f-isTop, .moduleContextMenu .f-isBottom { color:#ddd; cursor:default; background-color:transparent }
.moduleContextMenu .f-icon-topIndex .f-tip { background:url(/assets/img/moduleToolbar.png) no-repeat 1px -323px }
.moduleContextMenu .f-icon-bottomIndex .f-tip { background:url(/assets/img/moduleToolbar.png) no-repeat 1px -350px }
.moduleContextMenu .f-icon-topIndex.f-isTop .f-tip { background:url(/assets/img/moduleToolbar.png) no-repeat 1px -385px }
.moduleContextMenu .f-icon-bottomIndex.f-isBottom .f-tip { background:url(/assets/img/moduleToolbar.png) no-repeat 1px -412px }
.multiDragBtn-low { display:none; width:54px; height:54px; position:absolute; top:0; right:0; z-index:99; cursor:move; background:url(/assets/img/bg02.png) no-repeat -1223px -84px }
.multiDragBtn { width:34px; height:34px; border-radius:0 0 0 34px; position:absolute; top:0; right:0; z-index:99; cursor:move; background:#7e807f url(/image/site/moduleToolbar.png) no-repeat 11px -193px }
.multiDragBtn-left { border-radius:0 0 34px 0; left:0; top:0; right:auto; background:#7e807f url(/assets/img/moduleToolbar.png) no-repeat 6px -193px }
.multiDragBtn-left-low { border-radius:0; width:54px; height:54px; background:url(/image/bg02.png) no-repeat -1225px -166px }
.fullmeasureDragBtn { display:none; width:54px; height:54px; position:absolute; top:0; right:0; cursor:move; background:url(/assets/img/bg02.png) no-repeat -1223px -84px }
.resizable-cancelTip { display:none; width:24px; height:20px; border-radius:3px 0 0 0; position:absolute; right:0; bottom:1px; z-index:1009; background:#56a1e3 url(/assets/img/moduleToolbar.png) no-repeat 8px -168px }
.resizable-cancelLeftTip { left:0; border-radius:0 3px 0 0 }
.resizable-cancelTip2 { background:#7e807f url(/assets/img/moduleToolbar.png) no-repeat 8px -168px }
.ui-resizable .formBanner, .ui-resizable .formMiddleContent { cursor:move }
.moduleEditToolGuide { font-family:"Microsoft YaHei"; font-size:12px; width:100%; height:100%; position:fixed; _position:absolute; margin:0; padding:0; top:0; left:0; right:0; bottom:0; z-index:9099 }
.moduleEditToolGuide .f-contentBg { width:100%; height:100%; position:absolute; margin:0; padding:0; top:0; left:0; right:0; bottom:0; opacity:.7; filter:alpha(opacity=70); background-color:#000 }
.moduleEditToolGuide .f-content { width:412px; height:264px; position:absolute; left:0; top:0; background:url(/assets/img/moduleEditToolPrompt.png) no-repeat 0 0 }
.moduleEditToolGuide .f-konwIt { width:123px; height:46px; position:absolute; top:185px; left:189px; opacity:0; filter:alpha(opacity=0); background:#fff }
.setEditTip { width:24px; height:20px; border-radius:3px 0 0 0; position:absolute; right:0; bottom:1px; z-index:1009 }
.lockEditTip { background:#eb3f3f url(/assets/img/lockEdit.png) no-repeat 7px 2px }
.openEditTip {
-webkit-animation:jz-openEditAnimate .3s forwards;
-moz-animation:jz-openEditAnimate .3s forwards;
-ms-animation:jz-openEditAnimate .3s forwards;
-o-animation:jz-openEditAnimate .3s forwards;
animation:jz-openEditAnimate .3s forwards; background:#56a1e3 url(/assets/img/lockEdit.png) no-repeat -45px 2px }
@-webkit-keyframes jz-openEditAnimate { 0% {
background:#eb3f3f url(/assets/img/lockEdit.png) no-repeat 7px 2px
}
5% {
background:#56a1e3 url(/assets/img/lockEdit.png) no-repeat -17px 2px
}
15%, 100% {
background:#56a1e3 url(/assets/img/lockEdit.png) no-repeat -45px 2px
}
}
@-moz-keyframes jz-openEditAnimate { 0% {
background:#eb3f3f url(/assets/img/lockEdit.png) no-repeat 7px 2px
}
5% {
background:#56a1e3 url(/assets/img/lockEdit.png) no-repeat -17px 2px
}
15%, 100% {
background:#56a1e3 url(/assets/img/lockEdit.png) no-repeat -45px 2px
}
}
@-ms-keyframes jz-openEditAnimate { 0% {
background:#eb3f3f url(/assets/img/lockEdit.png) no-repeat 7px 2px
}
5% {
background:#56a1e3 url(/assets/img/lockEdit.png) no-repeat -17px 2px
}
15%, 100% {
background:#56a1e3 url(/assets/img/lockEdit.png) no-repeat -45px 2px
}
}
@-o-keyframes jz-openEditAnimate { 0% {
background:#eb3f3f url(/assets/img/lockEdit.png) no-repeat 7px 2px
}
5% {
background:#56a1e3 url(/assets/img/lockEdit.png) no-repeat -17px 2px
}
15%, 100% {
background:#56a1e3 url(/assets/img/lockEdit.png) no-repeat -45px 2px
}
}
@keyframes jz-openEditAnimate { 0% {
background:#eb3f3f url(/assets/img/lockEdit.png) no-repeat 7px 2px
}
5% {
background:#56a1e3 url(/assets/img/lockEdit.png) no-repeat -17px 2px
}
15%, 100% {
background:#56a1e3 url(/assets/img/lockEdit.png) no-repeat -45px 2px
}
}
