@charset "utf-8";

.formMiddle_button:after{ clear:both; overflow:hidden; height:0; content:""; display:block;}
.formMiddle_button .floatMiddle_BtnBox{}
.formMiddle_button .floatMiddle_BtnBox .floatChangeBtn{
    margin: 0 auto;  
  color: #fff;
  display: block;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  text-overflow: ellipsis;
}
.formMiddle_button .J_styleItem_item101 .floatChangeBtn,.formMiddle_button .J_styleItem_item102 .floatChangeBtn,.formMiddle_button .J_styleItem_item103 .floatChangeBtn,.formMiddle_button .J_styleItem_item104 .floatChangeBtn,.formMiddle_button .J_styleItem_item105 .floatChangeBtn,.formMiddle_button .J_styleItem_item106 .floatChangeBtn{
  
  width: 163px;
  height: 52px;
  line-height: 52px;
  background: #e7334d;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  }
   .formMiddle_button .J_styleItem_item201 .floatChangeBtn,.formMiddle_button .J_styleItem_item202 .floatChangeBtn,.formMiddle_button .J_styleItem_item203 .floatChangeBtn,.formMiddle_button .J_styleItem_item204 .floatChangeBtn,.formMiddle_button .J_styleItem_item205 .floatChangeBtn,.formMiddle_button .J_styleItem_item206 .floatChangeBtn{
    width: 172px;
    height: 56px;
    line-height: 56px;
    color: #fff;
  }

 .formMiddle_button .J_styleItem_item301 .floatChangeBtn,.formMiddle_button .J_styleItem_item302 .floatChangeBtn,.formMiddle_button .J_styleItem_item303 .floatChangeBtn,.formMiddle_button .J_styleItem_item304 .floatChangeBtn,.formMiddle_button .J_styleItem_item305 .floatChangeBtn,.formMiddle_button .J_styleItem_item306 .floatChangeBtn{
    width: 202px;
    height: 60px;
    line-height: 60px;
}

   .formMiddle_button .J_styleItem_item401 .floatChangeBtn,.formMiddle_button .J_styleItem_item402 .floatChangeBtn,.formMiddle_button .J_styleItem_item403 .floatChangeBtn,.formMiddle_button .J_styleItem_item404 .floatChangeBtn,.formMiddle_button .J_styleItem_item405 .floatChangeBtn,.formMiddle_button .J_styleItem_item406 .floatChangeBtn{
  
    width: 204px;
    height: 68px;
    color: #fff;
    text-shadow: 0 2px 1px #000;
    line-height: 68px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 0 2px 1px #000;
    -moz-border-radius: 10px;
  }

  .formMiddle_button .J_styleItem_item101 .floatChangeBtn{ background: #e7334d; }
  .formMiddle_button .J_styleItem_item102 .floatChangeBtn{ background: #5bc102; }
  .formMiddle_button .J_styleItem_item103 .floatChangeBtn{ background: #b0b0b0; }
  .formMiddle_button .J_styleItem_item104 .floatChangeBtn{ background: #2ca5f9; }
  .formMiddle_button .J_styleItem_item105 .floatChangeBtn{ background: #ffa800; }
  .formMiddle_button .J_styleItem_item106 .floatChangeBtn{ background: #282828; }

  .formMiddle_button .J_styleItem_item201 .floatChangeBtn{ background: #e7334d; }
  .formMiddle_button .J_styleItem_item202 .floatChangeBtn{ background: #5bc102; }
  .formMiddle_button .J_styleItem_item203 .floatChangeBtn{ background: #b0b0b0; }
  .formMiddle_button .J_styleItem_item204 .floatChangeBtn{ background: #2ca5f9; }
  .formMiddle_button .J_styleItem_item205 .floatChangeBtn{ background: #ffa800; }
  .formMiddle_button .J_styleItem_item206 .floatChangeBtn{ background: #282828; }

  .formMiddle_button .J_styleItem_item301 .floatChangeBtn{ 
    border: 1px solid #ff90a0;
    color: #c61c34;
    text-shadow: 0 2px 1px #66fb81;
     -webkit-background: -webkit-linear-gradient(#fe7185,#ff5b81);
    -o-background: -o-linear-gradient(#fe7185,#ff5b81);
    -moz-background: -moz-linear-gradient(#fe7185,#ff6b81);
    background: linear-gradient(#fe7185,#ff5b81);
    -pie-background: linear-gradient(#fe7185,#ff5b81);
  }
  .formMiddle_button .J_styleItem_item302 .floatChangeBtn{ 
    border: 1px solid #8fed3c;
    color: #408800;
    text-shadow: 0 2px 1px #81df2f;
    -webkit-background: -webkit-linear-gradient(#96f445,#62c70a);
    -o-background: -o-linear-gradient(#96f445,#62c70a);
    -moz-background: -moz-linear-gradient(#96f445,#62c70a);
    background: linear-gradient(#96f445,#62c70a);
    -pie-background: linear-gradient(#96f445,#62c70a);
  }
  .formMiddle_button .J_styleItem_item303 .floatChangeBtn{
    border: 1px solid #c7c7c7;
    color: #4a4a4a;
    text-shadow: 0 2px 1px #d1d1d1;
    -webkit-background: -webkit-linear-gradient(#e1e1e1,#b4b4b4);
    -o-background: -o-linear-gradient(#e1e1e1,#b4b4b4);
    -moz-background: -moz-linear-gradient(#e1e1e1,#b4b4b4);
    background: linear-gradient(#e1e1e1,#b4b4b4);
    -pie-background: linear-gradient(#e1e1e1,#b4b4b4);
  }
  .formMiddle_button .J_styleItem_item304 .floatChangeBtn{ 
    border: 1px solid #6bc3ff;
    color: #007bd1;
    text-shadow: 0 2px 1px #6bc2fe;
    -webkit-background: -webkit-linear-gradient(#63bfff,#30a7f9);
    -o-background: -o-linear-gradient(#63bfff,#30a7f9);
    -moz-background: -moz-linear-gradient(#63bfff,#30a7f9);
    background: linear-gradient(#63bfff,#30a7f9);
    -pie-background: linear-gradient(#63bfff,#30a7f9);
  }
  .formMiddle_button .J_styleItem_item305 .floatChangeBtn{ 
    border: 1px solid #fff600;
    color: #ff7800;
    text-shadow: 0 2px 1px #ffe544;
    -webkit-background: -webkit-linear-gradient(#ffef5e,#ffbc0e);
    -o-background: -o-linear-gradient(#ffef5e,#ffbc0e);
    -moz-background: -moz-linear-gradient(#ffef5e,#ffbc0e);
    background: linear-gradient(#ffef5e,#ffbc0e);
    -pie-background: linear-gradient(#ffef5e,#ffbc0e);
   }
  .formMiddle_button .J_styleItem_item306 .floatChangeBtn{ 
    border: 1px solid #898989;
    color: #0a0a0a;
    text-shadow: 0 2px 1px #444;
    -webkit-background: -webkit-linear-gradient(#626262,#2e2e2e);
    -o-background: -o-linear-gradient(#626262,#2e2e2e);
    -moz-background: -moz-linear-gradient(#626262,#2e2e2e);
    background: linear-gradient(#626262,#2e2e2e);
    -pie-background: linear-gradient(#626262,#2e2e2e);
  }

  .formMiddle_button .J_styleItem_item401 .floatChangeBtn{ 
    border: 1px solid #a00000;
    -webkit-background: -webkit-linear-gradient(#fb7171,#a70404);
    -o-background: -o-linear-gradient(#fb7171,#a70404);
    -moz-background: -moz-linear-gradient(#fb7171,#a70404);
    background: linear-gradient(#fb7171,#a70404);
    -pie-background: linear-gradient(#fb7171,#a70404);
   }
  .formMiddle_button .J_styleItem_item402 .floatChangeBtn{ 
    border: 1px solid #003c08;
    -webkit-background: -webkit-linear-gradient(#20bb0c,#086305);
    -o-background: -o-linear-gradient(#20bb0c,#086305);
    -moz-background: -moz-linear-gradient(#20bb0c,#086305);
    background: linear-gradient(#20bb0c,#086305);
    -pie-background: linear-gradient(#20bb0c,#086305);
  }
  .formMiddle_button .J_styleItem_item403 .floatChangeBtn{ 
    border: 1px solid #2b2b2b;
    -webkit-background: -webkit-linear-gradient(#626262,#2e2e2e);
    -o-background: -o-linear-gradient(#626262,#2e2e2e);
    -moz-background: -moz-linear-gradient(#626262,#2e2e2e);
    background: linear-gradient(#626262,#2e2e2e);
    -pie-background: linear-gradient(#626262,#2e2e2e);
  }
  .formMiddle_button .J_styleItem_item404 .floatChangeBtn{ 

    border: 1px solid #0c2a4e;
    -webkit-background: -webkit-linear-gradient(#86c2e9,#11519f);
    -o-background: -o-linear-gradient(#86c2e9,#11519f);
    -moz-background: -moz-linear-gradient(#86c2e9,#11519f);
    background: linear-gradient(#86c2e9,#11519f);
    -pie-background: linear-gradient(#86c2e9,#11519f);
  }
  .formMiddle_button .J_styleItem_item405 .floatChangeBtn{ 
    border: 1px solid #8b7500;
    -webkit-background: -webkit-linear-gradient(#fed700,#da8c00);
    -o-background: -o-linear-gradient(#fed700,#da8c00);
    -moz-background: -moz-linear-gradient(#fed700,#da8c00);
    background: linear-gradient(#fed700,#da8c00);
    -pie-background: linear-gradient(#fed700,#da8c00);
   }
  .formMiddle_button .J_styleItem_item406 .floatChangeBtn{ 
    border: 1px solid #2b2b2b;
    -webkit-background: -webkit-linear-gradient(#5f5f5f,#202020);
    -o-background: -o-linear-gradient(#5f5f5f,#202020);
    -moz-background: -moz-linear-gradient(#5f5f5f,#202020);
    background: linear-gradient(#5f5f5f,#202020);
    -pie-background: linear-gradient(#5f5f5f,#202020);
   }