/* CSS Document 留言模块前端显示页面的CSS*/
.clear{
    clear:both;
    height:0;
    display:block;
}
.memberRegContainer{
    min-width: 300px;
    font-family: "微软雅黑";
    color: #666666;
    font-size: 14px;
}
.memberRegContainer .titleLeft{
    float: left;
    width: 14px;
    height: 14px;
    margin-top: 16px;
    background: url("../images/interaction/frombg1.png") no-repeat scroll center center;
}
.memberRegContainer .titleRight{
    color: #2b2b2b;
    font-family: '微软雅黑';
    font-weight: normal;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
}
.memberRegContainer .titleBottom{
    width: auto;
    border-bottom: 1px solid #cccccc;
}

.memberRegContainer .memberReg_form{
    margin-top: 8px;
    font-size: 12px;
    font-family: '微软雅黑';
    margin: 20px auto;
    overflow: hidden;
    width: 400px;
}
.memberRegContainer .memberReg_form .memberReg_float{
    float: left;
    min-width: 350px;
    margin-top: 15px;
}
.memberRegContainer .memberReg_form .memberReg_width{
    width: 80px;
    overflow: hidden;
    text-align: right;
    text-overflow: hidden;
    white-space: nowrap;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.memberRegContainer .memberReg_form .memberReg_input{
    border: 1px solid #dadada;
    height: 30px;
    line-height: 30px;
    padding:1px;
    text-indent: 6px;
    width: 200px;
    float: left;
}
.memberRegContainer .memberReg_form .memberReg_sign{
    float: left;
    color: red;
    margin-left: 5px;
    height:34px;
    line-height:34px;
}
.memberRegContainer .memberReg_form .memberReg_teatarea{
    font-family: "微软雅黑";
    line-height: 26px;
    border: 1px solid #8f8f8f;
    width: 100px;
}
.memberRegContainer .memberReg_form .memberRegContainer .memberReg_form div{
    float: left;
    height: 30px;
    line-height: 30px;

}
.memberRegContainer .msg_bottom1{
    margin-top: 15px;
    color: #FFF;
    cursor: pointer;
    float: left;
    margin-left: 56px;
    font-size:14px;
    height: 44px;
    line-height:44px;
    max-width: 219px;
    width: 58%;
}
.loginButton1 {background: url(../images/interaction/red_middle.png)  repeat-x scroll 0 center;border:0;}
.loginButton2 {background:#f54f4f;border:0;}
.loginButton3 {background: url(../images/interaction/yellow_middle.png)  repeat-x scroll 0 center;border:0;}
.loginButton4 {background:#ffad2b;border:0;}
.loginButton5 {background: url(../images/interaction/blue_middle.png)  repeat-x scroll 0 center;border:0;}
.loginButton6 {background:#5ab4ff;border:0;}
.loginButton7 {background: url(../images/interaction/green_middle.png)  repeat-x scroll 0 center;border:0;}
.loginButton8 {background:#85c300;border:0;}
.loginButton9 {background: url(../images/interaction/pink_middle.png)  repeat-x scroll 0 center;border:0;}
.loginButton10 {background:#e13e8d;border:0;}
.loginButton11 {background: url(../images/interaction/black_middle.png) repeat-x scroll 0 center;border:0;}
.loginButton12 {background:#8e8e8e;border:0;}
