/* CSS Document */
.clear { clear:both; height:0; display:block; }
/*onlineService*/
.onlineService dl dt{ float:left;list-style:none; margin-right:12px; line-height:24px;}
.onlineService dl dt input{ float:left;margin:8px 4px 0px;}
