/* CSS Document */
.clear{
    clear:both;
    height:0;
    display:block;
}
.shoppingCart{
    height: 44px;
    float: right;
    margin-right: 30px;
    position: relative;

}
.cartPanel{
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-family: "微软雅黑";
    height: 42px;
    width: 156px;
    line-height: 42px;
    position: relative;
    background: #FFF none repeat scroll 0 0;
    z-index:1;

}
.cartPanel .cartButtonLeft{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 46px;
    border-radius: 5px 0 0 5px;
    background: url(../images/interaction/cartIco.png) no-repeat scroll 8px 5px;
}
.cartPanel .cartButtonText{
    display: block;
    text-decoration: none;
    line-height: 42px;
    overflow: hidden;
    white-space: nowrap;
    color: #FFF;
    font-size: 14px;
    padding:0 40px 0 54px;
}
.cartPanel .cartButtonRight{
    position: absolute;
    right: 18px;
    top: 18px;
    height: 6px;
    width: 10px;
}
.cartButton_span{
    top:41px;
    left:0;
    background:#FFF;
    width: 152px;
    height: 2px;
    position: absolute;
    display: none;
    z-index: 3;
}

.cartButton_hover{
    background:#FFF;
    border: 1px solid #363636;
    top: 40px;
    left: -112px;
    position: absolute;
    float: right;
    width: 266px;
    display: none;
    /*opacity: 0;*/
}
.cartButton_hover .NoGoods{
    padding: 32px 0 32px 10px;
}
.cartButton_hover .NoGoods span{
    background:url(../images/interaction/cartIco.png) no-repeat scroll 0 -713px;
    float: left;
    height: 70px;
    width: 85px;
}
.NoGoodsText{
    color: #b2b2b2;
    float: left;
    height: 70px;
    margin-top: 15px;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 18px;
    width: 136px;
    word-break: normal;
    font-size: 12px;
    z-index: 2;
}
.cartButton1{
    background:#434343 ;
}
.cartButton1 .cartButtonLeft{
    background-color:#363636;
}
.cartButton1 .cartButton_hover{
    border: 2px solid #434343;
    top:38px;
}
.cartButton2{
    background:#f64c4f;
}
.cartButton2 .cartButtonLeft{
    background-color:#e43a3d;
}
.cartButton2 .cartButton_hover{
    border: 2px solid #f64c4f;
    top:38px;
}
.cartButton3{
    background:#427bee;
}
.cartButton3 .cartButtonLeft{
    background-color:#2662da;
}
.cartButton3 .cartButton_hover{
    border: 2px solid #427bee;
    top:38px;
}
.cartButton4{
    background:#fe6e27;
}
.cartButton4 .cartButtonLeft{
    background-color:#ff5400;
}
.cartButton4 .cartButton_hover{
    border: 2px solid #fe6e27;
    top:38px;
}
.cartButton5{
    background:#d61a19;
}
.cartButton5 .cartButtonLeft{
    background-color:#c00000;
}
.cartButton5 .cartButton_hover{
    border: 2px solid #d61a19;
    top:38px;
}
.cartButton6{
    border-radius:0px;
}
.cartButton6 .cartButtonLeft{
    background: url(../images/interaction/cartIco.png) no-repeat scroll 12px -32px;
    background-position: 12px -187px;
}
.cartButton6 .cartButtonText{
    color:#666666;
    font-size:12px;
}
.cartButton6 .cartButtonRight{
    background: url(../images/interaction/cartIco.png) no-repeat scroll 2px -673px;
}
.cartButton6 .cartButton_hover{
    border: 1px solid #e6e6e6;
    left:-111px;
}
.cartButton6 .cartButton_span{
    top:40px;
    width: 154px;
}
.cartButton7{
    border-radius:0;
}
.cartButton7 .cartButtonLeft{
    background: url(../images/interaction/cartIco.png) no-repeat scroll 12px -32px;
    background-position: 12px -148px;
}
.cartButton7 .cartButtonText{
    color:#666666;
    font-size:12px;
}
.cartButton7 .cartButtonRight{
    background: url(../images/interaction/cartIco.png) no-repeat scroll 2px -673px;
}
.cartButton7 .cartButton_hover{
    border: 1px solid #e6e6e6;
    left:-111px;
}
.cartButton7 .cartButton_span{
    top:40px;
    width: 154px;
}
.cartButton8{
    border-radius:0;
}
.cartButton8 .cartButtonLeft{
    background: url(../images/interaction/cartIco.png) no-repeat scroll 12px -32px;
    background-position: 12px -109px;
}
.cartButton8 .cartButtonText{
    color:#666666;
    font-size:12px;
}
.cartButton8 .cartButtonRight{
    background: url(../images/interaction/cartIco.png) no-repeat scroll 2px -673px;
}
.cartButton8 .cartButton_hover{
    border: 1px solid #e6e6e6;
    left:-111px;
}
.cartButton8 .cartButton_span{
    top:40px;
    width: 154px;
}
.cartButton9{
    border-radius:0;
}
.cartButton9 .cartButtonLeft{
    background: url(../images/interaction/cartIco.png) no-repeat scroll 12px -32px;
    background-position: 12px -70px;
}
.cartButton9 .cartButtonText{
    color:#666666;
    font-size:12px;
}
.cartButton9 .cartButtonRight{
    background: url(../images/interaction/cartIco.png) no-repeat scroll 2px -673px;
}
.cartButton9 .cartButton_hover{
    border: 1px solid #e6e6e6;
    left:-111px;
}
.cartButton9 .cartButton_span{
    top:40px;
    width: 154px;
}
.cartButton10{
    border-radius:0;
}
.cartButton10 .cartButtonLeft{
    background: url(../images/interaction/cartIco.png) no-repeat scroll 12px -32px;
    background-position: 12px -32px;
}
.cartButton10 .cartButtonText{
    color:#666666;
    font-size:12px;
}
.cartButton10 .cartButtonRight{
    background: url(../images/interaction/cartIco.png) no-repeat scroll 2px -673px;
}
.cartButton10 .cartButton_hover{
    border: 1px solid #e6e6e6;
    left:-111px;

}
.cartButton10 .cartButton_span{
    top:40px;
    width: 154px;
}